
# scrutiny, runs everu 10 minutes
*/10 * * * * ANSIBLE_LOG_PATH=~/.scrutiny.ansible.log ansible-playbook -i /home/arya/ansible/inventory.ini /home/arya/ansible/scrutiny.yaml

# qbittorrent port set, runs every minute
* * * * * ANSIBLE_LOG_PATH=~/.portmap.ansible.log ansible-playbook -i /home/arya/ansible/inventory.ini /home/arya/ansible/qbittorrent-port.yaml

# backup, 3am every day
0 3 * * * ANSIBLE_LOG_PATH=~/.backup.ansible.log && ansible-playbook -i /home/arya/ansible/inventory.ini /home/arya/ansible/postgres_backup.yaml && ANSIBLE_LOG_PATH=~/.backup.ansible.log ansible-playbook -i /home/arya/ansible/inventory.ini /home/arya/ansible/restic_backup.yaml && ANSIBLE_LOG_PATH=~/.backup.ansible.log ansible-playbook /home/arya/ansible/notify.yaml || curl -d "Backup has failed. Please check ansible logs." https://n2.aryankothari.dev
